<?xml version="1.0"?>
<cards>
    <objects>
        <object id="obj1">
            <image>image1.png</image>
            <function>obj</function>
            <description>to conquer 18 territories and to control them with at least two armies each one;</description>
        </object>
        <object id="obj2">
            <image>image2.png</image>
            <function>obj</function>
            <description>to conquer 24 territories;</description>
        </object>
        <object id="obj3">
            <image>image3.png</image>
            <function>obj</function>
            <description>to conquer the whole North America and Africa;</description>
        </object>
        <object id="obj4">
            <image>image4.png</image>
            <function>obj</function>
            <description>to conquer the whole North America and Oceania;</description>
        </object>
        <object id="obj5">
            <image>image5.png</image>
            <function>obj</function>
            <description>to conquer the whole Asia and Oceania;</description>
        </object>
        <object id="obj6">
            <image>image6.png</image>
            <function>obj</function>
            <description>to conquer the whole Asia and Africa;</description>
        </object>
        <object id="obj7">
            <image>image7.png</image>
            <function>obj</function>
            <description>to conquer the whole Europe, South America and a third continent;</description>
        </object>
        <object id="obj8">
            <image>image8.png</image>
            <function>obj</function>
            <description>to conquer the whole Europe, Oceania and a third continent;</description>
        </object>
        <object id="obj9">
            <image>image9.png</image>
            <function>obj</function>
            <description>to destroy completely the armies of Red player (If another player eliminates Red, that player becomes your new target)</description>
        </object>
		<object id="obj10">
            <image>image9.png</image>
            <function>obj</function>
            <description>to destroy completely the armies of Blue player (If another player eliminates Blue, that player becomes your new target)</description>
        </object>
		<object id="obj11">
            <image>image9.png</image>
            <function>obj</function>
            <description>to destroy completely the armies of Green player (If another player eliminates Green, that player becomes your new target)</description>
        </object>
    </objects>
    <territories>
        <north_America id="NA">
            <territory id="NA_ter1">
                <name>Alaska</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Alaska</description>
                <continent>NA</continent>
            </territory>
            <territory id="NA_ter2">
                <name>Northwest Territories</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Northwest Territories</description>
                <continent>NA</continent>
            </territory>
            <territory id="NA_ter3">
                <name>Greenland</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Greenland</description>
                <continent>NA</continent>
            </territory>
            <territory id="NA_ter4">
                <name>Alberta</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Alberta</description>
                <continent>NA</continent>
            </territory>
            <territory id="NA_ter5">
                <name>Ontario</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Ontario</description>
                <continent>NA</continent>
            </territory>
            <territory id="NA_ter6">
                <name>Quebec</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Quebec</description>
                <continent>NA</continent>
            </territory>
            <territory id="NA_ter7">
                <name>Western United States</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Western United States</description>
                <continent>NA</continent>
            </territory>
            <territory id="NA_ter8">
                <name>Estern United States</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Estern United States</description>
                <continent>NA</continent>
            </territory>
            <territory id="NA_ter9">
                <name>Central America</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Central America</description>
                <continent>NA</continent>
            </territory>
        </north_America>
        <south_America id="SA">
            <territory id="SA_ter1">
                <name>Venezuela</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Venezuela</description>
                <continent>SA</continent>
            </territory>
            <territory id="SA_ter2">
                <name>Peru</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Peru</description>
                <continent>SA</continent>
            </territory>
            <territory id="SA_ter3">
                <name>Brazil</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Brazil</description>
                <continent>SA</continent>
            </territory>
            <territory id="SA_ter4">
                <name>Argentina</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Argentina</description>
                <continent>SA</continent>
            </territory>
        </south_America>
        <europe id="EU">
            <territory id="EU_ter1">
                <name>Iceland</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Iceland</description>
                <continent>EU</continent>
            </territory>
            <territory id="EU_ter2">
                <name>Scandinavia</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Scandinavia</description>
                <continent>EU</continent>
            </territory>
            <territory id="EU_ter3">
                <name>Great Britain</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of great Britain</description>
                <continent>EU</continent>
            </territory>
            <territory id="EU_ter4">
                <name>Northern Europe</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Northern Europe</description>
                <continent>EU</continent>
            </territory>
            <territory id="EU_ter5">
                <name>Western Europe</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Western Europe</description>
                <continent>EU</continent>
            </territory>
            <territory id="EU_ter6">
                <name>Southern Europe</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Southern Europe</description>
                <continent>EU</continent>
            </territory>
            <territory id="EU_ter7">
                <name>Ukraine</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Ukraine</description>
                <continent>EU</continent>
            </territory>
        </europe>
        <africa id="AF">
            <territory id="AF_ter1">
                <name>Northern Africa</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Northern Africa</description>
                <continent>AF</continent>
            </territory>
            <territory id="AF_ter2">
                <name>Egypt</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Egypt</description>
                <continent>AF</continent>
            </territory>
            <territory id="AF_ter3">
                <name>Congo</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Congo</description>
                <continent>AF</continent>
            </territory>
            <territory id="AF_ter4">
                <name>Eastern Africa</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Eastern Africa</description>
                <continent>AF</continent>
            </territory>
            <territory id="AF_ter5">
                <name>Southern Africa</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Southern Africa</description>
                <continent>AF</continent>
            </territory>
            <territory id="AF_ter6">
                <name>Madagascar</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Madagascar</description>
                <continent>AF</continent>
            </territory>
        </africa>
        <asia id="AS">
            <territory id="AS_ter1">
                <name>Ural</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Urals</description>
                <continent>AS</continent>
            </territory>
            <territory id="AS_ter2">
                <name>Siberia</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Siberia</description>
                <continent>AS</continent>
            </territory>
            <territory id="AS_ter3">
                <name>Yakutsk</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Yakutsk</description>
                <continent>AS</continent>
            </territory>
            <territory id="AS_ter4">
                <name>Irkutsk</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Irkutsk</description>
                <continent>AS</continent>
            </territory>
            <territory id="AS_ter5">
                <name>Kamchatka</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Kamchatka</description>
                <continent>AS</continent>
            </territory>
            <territory id="AS_ter6">
                <name>Japan</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Japan</description>
                <continent>AS</continent>
            </territory>
            <territory id="AS_ter7">
                <name>Mongolia</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Mongolia</description>
                <continent>AS</continent>
            </territory>
            <territory id="AS_ter8">
                <name>Afghanistan</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Afghanistan</description>
                <continent>AS</continent>
            </territory>
            <territory id="AS_ter9">
                <name>Middle East</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Middle East</description>
                <continent>AS</continent>
            </territory>
            <territory id="AS_ter10">
                <name>India</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of India</description>
                <continent>AS</continent>
            </territory>
            <territory id="AS_ter11">
                <name>China</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of China</description>
                <continent>AS</continent>
            </territory>
            <territory id="AS_ter12">
                <name>Siam</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Siam</description>
                <continent>AS</continent>
            </territory>
        </asia>
         <oceania id="OC">
            <territory id="OC_ter1">
                <name>Indonesia</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Indonesia</description>
                <continent>OC</continent>
            </territory>
            <territory id="OC_ter2">
                <name>New Guinea</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of New Guinea</description>
                <continent>OC</continent>
            </territory>
            <territory id="OC_ter3">
                <name>Eastern Australia</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Eastern Australia</description>
                <continent>OC</continent>
            </territory>
            <territory id="OC_ter4">
                <name>Western Australia</name>
                <image>image7.png</image>
                <function>ter</function>
                <description>state of Western Australia</description>
                <continent>OC</continent>
            </territory>
        </oceania>
    </territories>
</cards>
