<?xml version="1.0"?>
<cards>
    <card id="goal1">
        <image>image1.png</image>
        <function>goal</function>
        <description>to conquer 18 territories and to control them with at least two armies each one;</description>
    </card>
    <card id="goal2">
        <image>image2.png</image>
        <function>goal</function>
        <description>to conquer 24 territories;</description>
    </card>
    <card id="goal3">
        <image>image3.png</image>
        <function>goal</function>
        <description>to conquer the whole North America and Africa;</description>
    </card>
    <card id="goal4">
        <image>image4.png</image>
        <function>goal</function>
        <description>to conquer the whole North America and Oceania;</description>
    </card>
    <card id="goal5">
        <image>image5.png</image>
        <function>goal</function>
        <description>to conquer the whole Asia and Oceania;</description>
    </card>
    <card id="goal6">
        <image>image6.png</image>
        <function>goal</function>
        <description>to conquer the whole Asia and Africa;</description>
    </card>
    <card id="goal7">
        <image>image7.png</image>
        <function>goal</function>
        <description>to conquer the whole Europe, South America and a third continent;</description>
    </card>
    <card id="goal8">
        <image>image8.png</image>
        <function>goal</function>
        <description>to conquer the whole Europe, Oceania and a third continent;</description>
    </card>
    <card id="goal9">
        <image>image9.png</image>
        <function>goal</function>
        <description>to destroy completely the armies of a certain colour. If it is impossible (i.e. the player has that colour, or no one has that colour, or the player with that colour was already defeated by another one), then the target becomes to conquer 24 territories.</description>
    </card>
</cards>
